@page "/EventManagePage"
@using AdminWeb.Components.Pages.Modals
@using AdminWeb.Services
@using DbContext.SharedContext.DbResultModel
@using ServerFramework.CommonUtils.DateTimeHelper
@using ServerFramework.CommonUtils.EventHelper
@inject EventInfoService EventInfoService

<Grid TItem="EventDbResult"
      @ref="_grid"
      Class="table table-hover table-bordered table-striped"
      DataProvider="EventDbDataProvider"
      AllowPaging="true"
      AllowSorting="false"
      AllowSelection="true"
      SelectionMode="GridSelectionMode.Multiple"
      @bind-SelectedItems="@_selectedEvents"
      Responsive="true"
      PageSize="20"
      Unit="Unit.Px"
      AllowDetailView="true">
    <GridColumns>
        <GridColumn TItem="EventDbResult" HeaderText="Id" PropertyName="event_id">@context.event_id</GridColumn>
        <GridColumn TItem="EventDbResult" HeaderText="Type" PropertyName="event_type_id">@_GetEventTypeToString(context)</GridColumn>
        <GridColumn TItem="EventDbResult" HeaderText="TableIndex" PropertyName="event_id">@context.event_table_index</GridColumn>
        <GridColumn TItem="EventDbResult" HeaderText="Period" PropertyName="PeriodType">@_GetEventPeriodTypeToString(context)</GridColumn>
        <GridColumn TItem="EventDbResult" HeaderText=@_startDateHeader PropertyName="event_start_date">@context.StartDateUtc.ToServerTime()</GridColumn>
        <GridColumn TItem="EventDbResult" HeaderText=@_endDateHeader PropertyName="event_end_date">@context.EndDateUtc.ToServerTime()</GridColumn>
        <GridColumn TItem="EventDbResult" HeaderText=@_expiryDateHeader PropertyName="event_expiry_date">@context.ExpireDateUtc.ToServerTime()</GridColumn>
        <GridColumn TItem="EventDbResult" HeaderText=@_openTimeHeader PropertyName="OpenTime">@_GetNearByOpenTime(context)</GridColumn>
    </GridColumns>
    
    <GridDetailView TItem="EventDbResult">
        <div class="row">
            <div class="col-2 fw-bold">Open Time</div>
            <div class="col">
                @_GetOpenTimeToString(context)
            </div>
        </div>
        <div class="row">
            <div class="col-2 fw-bold">Open Days</div>
            <div class="col">
                @_GetOpenDaysToString(context)
            </div>
        </div>
    </GridDetailView>
</Grid>

<div class="d-grid gap-2 d-md-block mt-2">
    <Button Class="btn btn-primary" Size="ButtonSize.Small" @onclick="_OnClickButton">Create Event</Button>
    <Button Class="btn btn-primary" Size="ButtonSize.Small" @onclick="_RemoveSelectedEventsAsync">Select Remove Event</Button>
    <Button Class="btn btn-danger" Size="ButtonSize.Small" @onclick="_RemovePassedEventsAsync">Remove Passed Event</Button>
</div>

<CreateGameEventModal @ref="_modal" OnCreateResult="OnCreateResult" ToastMessages="_toastMessages"></CreateGameEventModal>
<Toasts class="p-3" Messages="_toastMessages" Placement="ToastsPlacement.TopCenter" AutoHide="true" Delay="4000"/>

@code {
    private readonly List<ToastMessage> _toastMessages = [];
    private HashSet<EventDbResult> _selectedEvents = [];
    
    private string _timeZone;
    private string _startDateHeader;
    private string _endDateHeader;
    private string _expiryDateHeader;
    private string _openTimeHeader;

    protected override async Task OnInitializedAsync()
    {
        _timeZone = TimeZoneHelper.CurrentTimeZone.DisplayName;
        _startDateHeader = $"Start Date ({_timeZone})";
        _endDateHeader = $"End Date ({_timeZone})";
        _expiryDateHeader = $"Expiry Date ({_timeZone})";
        _openTimeHeader = $"Next Open Time ({_timeZone})";
        
        await base.OnInitializedAsync();
    }

    private async Task<GridDataProviderResult<EventDbResult>> EventDbDataProvider(GridDataProviderRequest<EventDbResult> request)
    {
        var eventList = EventInfoService.GetRegisteredEvents().OrderBy(x => x.event_id);
        return await Task.FromResult(request.ApplyTo(eventList));
    }
}